@model IEnumerable<StriveFitWebsite.Models.Contactmessage>

@{
    ViewData["Title"] = "User Messages";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}
<div class="content">
<h1>User Messages</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Useremail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submissiondate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Useremail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submissiondate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Messageid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Messageid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Messageid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>